.box {
    margin-top: 20px;
    padding-top: 2px;
    height: 39px;
    clear: both;
    background-color: cornflowerblue;
  }

  .title {
      text-align: center;
      font-family: Baskerville Old Face;
      font-weight: bolder;
      font-size: x-large;
  }

.date-picker {
    position: absolute;
    /* width: 300px;
    height: 200px;
    z-index: 15; */
    top: 42%;
    left: 52%;
    margin: -106px 0 0 -150px;
}

    .btn-primary {
        color: #fff;
        background-color: #6495ed;
        border-color: #6495ed;
    }

    .mr-1 {
        margin-left: 11px;
    }

    .generate-report {
        margin-top: -18px;
        margin-left: 20px;
    }


    table {
        width: 89%;

      }
      /* .container-fluid{
        column-gap: 10px;
     } */

     .mat-table {
        background: #6495ed17;
        margin-top: 102px;
        margin-bottom: 16px;
        margin-left: 66px;
    }
    .mat-column-No {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-ProviderId {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-ErrorDescription {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 28% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    .mat-toolbar.mat-primary {
        color: #6495ed;
        background: none;
    }

    .error-header {
        padding-left: 80px;
    }

    dl, ol, ul {
        margin-top: 2px;
        margin-bottom: 2px;
    }


    .mat-form-field {
        width: 147px;
        text-align: center;
    }

    .mat-form-field-wrapper {
        height: 52px;
    }