<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="box"><p class="title">Error Details</p></div>

<div class="date-text">
    <div class="date-picker" >
        <mat-form-field matTooltip="Select the date" class="date-form" appearance="fill">
            <input matInput [matDatepicker]="picker" autocomplete="off"  [(ngModel)]="reportDate" placeholder="Select Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #ref
            (closed)="toggle(ref)" [touchUi]="true" #picker></mat-datepicker>
        </mat-form-field>

        <button *ngIf="showGenerateButton" (click) = "generateReport()" class="generate-report btn btn-primary">
            Error Report<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </button>
        <mat-toolbar color="primary" *ngIf="errorMessage">Downstream Error!! Please try later.</mat-toolbar>
        <mat-toolbar color="primary" *ngIf="listEmpty">No records found.</mat-toolbar>
    </div>

    
    
</div>
<div [hidden] = "!showResult">
<table  mat-table [dataSource]="listData"  multiTemplateDataRows class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> 
        No:
      </th>
      <td mat-cell *matCellDef="let element " >
        <div class="div1"> {{element.id }}</div> 
    </ng-container> -->
    
    <ng-container matColumnDef="ProviderId">
      <th mat-header-cell *matHeaderCellDef style=" font-weight: bold; font-size: 0.5cm"> 
        Provider Id
      </th>
      <td mat-cell *matCellDef="let element " > {{element.providerId }} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="ErrorDescription">
      <th mat-header-cell *matHeaderCellDef class = "error-header" style=" font-weight: bold; font-size: 0.5cm"> Error </th>
      <td mat-cell *matCellDef="let element">
        <ul>
        <li *ngFor="let subElement of element.description?.split(', ')">
             {{ subElement }}
        </li>
      </ul>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator 
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons 
      aria-label="Select page of Error Logs">
    </mat-paginator>

  </div>
    
    
